<h1>Recipe Box</h1>
<ul>
    <li>
        <form action="" method="GET">
            <a href="login/"><button type="button">Login</button></a>
            <a href="/"><button type="button">Logout</button></a>
            <a href="recipeadd/"><button type="button">Add Recipe Here!!</button></a>
            <a href="authoradd/"><button type="button">New Author? Click Here</button></a>
        </form>

    </li>
</ul>

<ul>
    {% for r in data %}
        <li>
            <a href={{r.id}}> {{r.title}} </a> 
        </li>
    {% endfor %}
</ul>
